@keyframes spin {
    0% {
        background-color: rgba(75, 92, 165, 0.1);
    }

    50% {
        background-color: rgba(75, 92, 165, 0.4);
    }

    100% {
        background-color: rgba(75, 92, 165, 0.1);
    }
}