@keyframes spin {
    0% {
        background-color: rgba(75, 92, 165, 0.1);
    }

    50% {
        background-color: rgba(75, 92, 165, 0.4);
    }

    100% {
        background-color: rgba(75, 92, 165, 0.1);
    }
}

@keyframes rotate-in-center {
    0% {
        transform: rotate(-360deg);
        opacity: 0;
    }

    100% {
        transform: rotate(0);
        opacity: 1;
    }
}

@keyframes slide-out-right {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(100px);
        opacity: 0;
    }
}

@keyframes slide-out-left {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}