.section {
    padding-top: 60px;

    &-center {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.title {
    margin: 50px auto;
    font-size: 16px;
    color: rgba(75, 92, 165, 0.75);

    @include mq(tablet) {
        font-size: 24px;
    }
}