.section {
    padding-top: 60px;

    &-center {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.title {
    margin: 50px auto;
}