.scroll-to-top {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;

    width: 25px;
    height: 25px;

    background-color: rgba(75, 92, 165, 0.2);
    border: 1px solid var(--color-accent);
    border-radius: 50%;
    cursor: pointer;

    animation: slide-top 1s linear 2s infinite alternate both;
}

.arrow-top {
    fill: var(--color-accent);

    width: 10px;
    height: 10px;
}